@model Yomikaze.Application.Data.Models.Common.ComicModel
<div id="commic-@Model.Id">
    <div>
        <img class="w-100 rounded" src="@Model.Banner" alt="">
        <img style="width: 15em; height: 18em; object-fit: cover; z-index: 1; margin-top: -10em;" class="rounded img-fluid ms-3 me-3"
             @Model.Cover alt="logo">
        <span>@Model.Name</span>
        <span>@Model.Aliases</span>
    </div>
    <button type="button" class="btn btn-outline-warning me-3 mt-3 ">
        <i class="fa-solid fa-square-plus p-2"></i>
        Add to Library
    </button>
    <button type="button" class="btn btn-outline-warning me-3 mt-3"><i class="fa-solid fa-book p-2"></i>Start Reading</button>
    <button type="button" class="btn btn-outline-warning me-3 mt-3">
        <i class="fa-regular fa-paper-plane p-2"></i>Continue
        Reading
    </button>
    <div class="container">
        <p class="fs-4 mt-5">
            @Model.Description
        </p>
    </div>
    <div class="container">
        <div class="btn-group p-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-warning btn-lg active">Chapter</button>
            <button type="button" class="btn btn-outline-warning btn-lg">Relate</button>
        </div>
    </div>
    <div class="container mt-3">
        <a href="" class="text-decoration-none ">
            <div class="p-3 mb-2  rounded-pill border border-secondary border-1 shadow-sm">
                <span class="fw-bold text-dark me-4">Chapter 1</span>
                <span class="text-muted ">Đây là chapter 1</span>
                <span class="text-black-50 float-end">
                    <i class="fa-regular fa-clock"></i>
                    <span class="ms-2">10 hours ago</span>
                </span>
            </div>
        </a>
        <a href="" class="text-decoration-none ">
            <div class="p-3 mb-2 rounded-pill border border-secondary border-1 shadow-sm">
                <span class="fw-bold text-dark me-4">Chapter 1</span>
                <span class="text-muted ">Đây là chapter 1</span>
                <span class="text-black-50 float-end">
                    <i class="fa-regular fa-clock"></i>
                    <span class="ms-2">10 hours ago</span>
                </span>
            </div>
        </a>
        <a href="" class="text-decoration-none ">
            <div class="p-3 mb-2 rounded-pill border border-secondary border-1 shadow-sm">
                <span class="fw-bold text-dark me-4">Chapter 1</span>
                <span class="text-muted ">Đây là chapter 1</span>
                <span class="text-black-50 float-end">
                    <i class="fa-regular fa-clock"></i>
                    <span class="ms-2">10 hours ago</span>
                </span>
            </div>
        </a>
        <div class="d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-warning btn-lg mb-4 mt-3">SHOW MORE</button>
        </div>
    </div>
    <div class="container mt-3">
        <div class="card w-100 rounded">
            <div class="card-header">
                <img @Model.Cover class="rounded-circle border border-light border-3 shadow-sm" style="width: 3em; height: 3em; object-fit:cover;" alt="">
                <span class="ms-2 fw-bold">User Name</span>
                <div class="dropdown float-end my-2">
                    <button class="btn btn-sm btn-outline-secondary rounded-pill" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Description</p>
            </div>
            <div class="card-footer text-muted">
                <button class="btn btn-outline-secondary btn-sm float-end">
                    <i class="fa-solid fa-reply"></i>
                    <span class="ms-2">Reply</span>
                </button>
            </div>
        </div>
    </div>
</div>

